/*Hero image */
#contact-image {
    position: relative;
    height: 60vh;
    background: url("https://images.unsplash.com/photo-1532393950032-b666e39c29b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 500px) {
    #contact-image {
        height: 75vh;
    }
}

@media screen and (min-width: 1000px) {
    #contact-image {
        background-position-y: 30%;
    }
}







/*-------------contact page---------------*/

.contact-margins {
    margin: 0 auto;
    max-width: 70%;
    padding-top: 10px;
}

.button-style {
    background-color: #304040;
    color: #fafafa;
    text-align: center;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 50px auto;
    display: flex;
}

.button-style:hover {
    background-color: #88b0d8;
    color: #305070;
}
/*----------------contact-spacing*/

.contact-spacing {
    margin-bottom: 10px;
}


@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

h1, h2, h3, h4, .contact-font {
    font-family: 'Fredoka One', sans-serif;
}

