







/*-------------contact page---------------*/

.contact-margins {
    margin: 0 auto;
    max-width: 70%;
    padding-top: 10px;
}

.button-style {
    background-color: #304040;
    color: #fafafa;
    text-align: center;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 50px auto;
    display: flex;
}

.button-style:hover {
    background-color: #88b0d8;
    color: #305070;
}
/*----------------contact-spacing*/

.contact-spacing {
    margin-bottom: 10px;
}


@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

h1, h2, h3, h4, .contact-font {
    font-family: 'Fredoka One', sans-serif;
}

