/* ---------------- Involved page -----------------------*/ 

/* carousel-space */

.involved-carousel-content {
    background: yellow;
    min-height: 60vh;
    max-width: 90%;
}

/* carousel-image */

.content-image {

}

/* carousel-text */

.content-header {

}

.content-text {

}

.content-icons {

}