.navbar {
    padding-right: 0;
    padding-left: 2vw;
}

.navbar-togger {
    margin-right: 2vw;
}

.show .navigation-link,
.collapse .navigation-link,
.collapsing .navigation-link {
    background-color: rgba(255, 255, 255, 1);
}
.show ul #top-link,
.collapse #top-link,
.collapsing #top-link {
    border-radius: 10px 10px 0 0;
}

.show ul #bottom-link,
.collapse #bottom-link,
.collapsing #bottom-link {
    border-radius: 0 0 10px 10px;
}

@media screen and (min-width: 1000px) {
        .navbar-nav {
        width: 15vw;
    }
}