/* ---------- general styling ------------- */
* {
    margin: 0;
    padding: 0;
}

.navigation-link {
    width: auto;
    color: #305070;
    background: #88b0d8;
}

footer {
    max-height: 30px;
}

.footer-rights {
    align-self: flex-end;
}

.footer-icons {

}

/* Font */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

h1, h2, h3, h4, a, p {
    font-family: 'Fredoka One', sans-serif;
}
/* ---------- Colors ---------------------- */
body {
    background: linear-gradient(0deg, rgba(72,112,168,0.2) 0%, rgba(200,216,232, 0.3) 100%) no-repeat fixed center;
}

h1, h2, h3, h4 {
    color: #181818;
}

p {
    color: #305070;
}

a {
    text-decoration: none;
    color: #304040;
}

/* ----------- Buttons -------------------- */
.btn-blue {
    background-color: #304040;
    border: none;
}

.btn-blue:hover {
    background-color: #88b0d8;
    color: #305070;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus, .btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
    background-color: #304040;
    color: #88b0d8;
}

/* ---------------- Index page -----------------------*/ 
#hero-image {
    position: relative;
}

/*-------------contact page---------------*/

.contact-margins {
    margin: 0 auto;
    max-width: 70%;
    padding-top: 10px;
}

.button-style {
    
    text-align: center;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 50px auto;
    display: flex;
}

